.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  height: rem(750px);
  width: rem(300px);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.wrapper {
  display: flex;
  flex: 1;
}

.aside {
  flex: 0 0 rem(60px);
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}

.main {
  flex: 1;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.mainLink {
  width: rem(44px);
  height: rem(44px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-xl);
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-md);
  padding-top: rem(18px);
  height: rem(60px);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: rem(60px);
  padding-top: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  margin-bottom: var(--mantine-spacing-xl);
}

.link {
  display: block;
  text-decoration: none;
  border-top-right-radius: var(--mantine-radius-md);
  border-bottom-right-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  margin-right: var(--mantine-spacing-md);
  font-weight: 500;
  height: rem(44px);
  line-height: rem(44px);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-light));
  }

  &[data-active] {
    &,
    &:hover {
      border-left-color: var(--mantine-color-blue-filled);
      background-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-white);
    }
  }
}

.app {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: 20px;
}

/* .content {
  flex-grow: 1;
  padding: 20px;
  background: url('/public/Image.jpg') no-repeat center center fixed;
  background-size: 50% 60%;

} */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Form container styling */
.form-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}




/* Form title */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Form row container */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Form input fields styling */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
  flex: 1 1 calc(33.333% - 20px); /* three fields per row */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Form button styling */
.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

/* Table styling */
.table {
  width: 98%;
  border-collapse: collapse;
  margin: 20px auto;
}

.header {
  display: table-row;
  background-color: #edeff2;
}

.row {
  display: table-row;
  background-color: white;
}

.cell {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.form-container input[type="text"],
.form-container input[type="datetime-local"] {
  width: calc(25% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

/* Ensure the last input does not have a right margin */
.form-container input[type="text"]:last-of-type,
.form-container input[type="datetime-local"]:last-of-type {
  margin-right: 0;
}

body {
  background-color: white;
  margin: 0; /* Optional: Removes default body margin */
  padding: 0; /* Optional: Removes default body padding */
}
.content{
  overflow-y: auto;
}


